<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Numberologicality</title>
    <script src="https://unpkg.com/vue"></script>
    <script src="https://www.gstatic.com/firebasejs/4.5.2/firebase.js"></script>
    <script>
      // Initialize Firebase
      var config = {
        apiKey: "AIzaSyBirgFENs1QxHbrhxQpNX3uDnjB4RKtZE0",
        authDomain: "numberologicali.firebaseapp.com",
        databaseURL: "https://numberologicali.firebaseio.com",
        projectId: "numberologicali",
        storageBucket: "numberologicali.appspot.com",
        messagingSenderId: "573631785187"
      };
      var num_firebase_app = firebase.initializeApp(config);
      var db = firebase.database(num_firebase_app);
      //firebase.database().ref().orderByKey().limitToLast(10).on("value", function(snapshot){console.log(snapshot.val())})
      //firebase.database().ref().on("value", function(snapshot){console.log(snapshot.val())})
    </script>
  </head>
  <body>
    <div id="app">
      {{message}}
    </div>
    <br>
    <div id="app2">
      <span v-bind:title="message">
        hover here
      </span>
    </div>
    <div id="app3" style="border:5px solid; width: 10%;">
      <span v-if="seen">
        Not hidden
      </span>
    </div>
    <div id="app4">
      <ol id="v-todo-list">
        <li class="v-li" v-for="item in todos" v-bind:id='item.id'>
          {{ item.id }}<br>
          {{ item.done }}<br>
          {{ formatDate(item.date_added) }}<br>
          {{ item.text }}
        </li>
        <todo-items
          v-for="item in todos"
          v-bind:todo = 'item'
          v-bind:key=item.id
          v-on:click="delItem(item.id)">
        </todo-items>
      </ol>
    </div>
    <div id="app6" >
      <p>{{ message }}</p>
      <input v-model="message">
      <input type="submit" name="button" value="" id="submit-button">
    </div>
    <div id="app7">
      <ol>
        <todo-items
          v-for="item in groceryList"
          v-bind:todo = 'item'
          v-bind:id='"todo"+item.id'
          v-bind:key=item.id
          v-on:click="removeItem(item.id)">
        </todo-items>
      </ol>
    </div>
    <script type="text/javascript">
      Vue.component('todo-items', {
        props: ['todo'],
        template: '<li>{{ todo.text }}</li>'
      });
      var app = new Vue({
        el: '#app',
        data:{
          message:"Hi, Vue."
        }
      });
      var app2 = new Vue ({
        el: '#app2',
        data:{
          message: "loaded on: " + new Date().toLocaleString()
        }
      });
      var app3 = new Vue ({
        el: '#app3',
        data:{
          seen: true
        }
      });
      app3_div = document.getElementById('app3');
      app3_div.onclick = function(e){
        // if seen=true, set to false and vice-versa
        app3.seen = app3.seen ? false : true;
      };


      var app4 = new Vue({
        el: "#app4",
        data: {
          todos: [
            { id: 0, text: 'thing 1', done: false, date_added: new Date(), date_completed: null},
            { id: 1, text: 'thing 2', done: false, date_added: new Date(), date_completed: null},
            { id: 2, text: 'thing 3', done: false, date_added: new Date(), date_completed: null},
            { id: 3, text: 'thing 4', done: false, date_added: new Date(), date_completed: null},
          ]
        },
        methods: {
          delItem: function(id){
            this.items.splice(index, 1);
          },
          formatDate: function(date) {
              return date.toDateString();
          },
          addTodoItem: function(item){
            this.todos.push({
              id: app4.todos.length,
              text: item,
              done: false,
              date_added: new Date(),
              date_completed: null
            });
            addEventListenerToItem(app4.todos.length-1);
          },
          taskCompleted: function(item){
            console.log("item: " + item)
            this.todos[item]['done'] = true;
          }
        }
      });

      // app4_li = document.getElementById("v-todo-list")todo-items
      // app4_li.children.onclick = function(e){
      //   this.remove();
      // }
      function addEventListenerToList(){
        var list = document.getElementsByClassName("v-li");
        for(var i=0; i<list.length; i++){
            list[i].onclick = function(e){
            this.remove();
          }
        }
      }
      addEventListenerToList();

      function addEventListenerToItem(id){
        console.log("id: " + id)
        console.log( document.getElementsByClassName("v-li")[id])
        item = document.getElementsByClassName("v-li")[id]
        item.onclick = function(e){
          this.remove();
        }
      }

      var app6 = new Vue({
        el: '#app6',
        data: {
          message: 'Hello Vue!',
          id: "vue_msg"
        }
      });

      button = document.getElementById('submit-button');

      button.onclick = function(){
        app4.addTodoItem(app6.message);
        addEventListenerToList();
      }

      var app7 = new Vue({
        el: '#app7',
        data: {
          groceryList: [
            { id: 0, text: 'Vegetables' },
            { id: 1, text: 'Cheese' },
            { id: 2, text: 'Whatever else humans are supposed to eat' }
          ]
        },
        methods:{
          removeItem: function(id){
            this.groceryList.splice(index, 1);
          }
        }
      });
    </script>
  </body>
</html>
