<section class="info">
    <h3 data-text="Info">Info</h3>
    <p>This is a Numerology Calculator. Simply enter a name and birthdate and it will calculate:</p>
    <ul>
        <li>
            <p>The Destiny number, derived from all of the letters in a person's full name.</p>
            <p>(sometimes called the "Expression Number")</p>
        </li>
        <li>
            <p>The Soul Urge number, derived from the vowels in a person's full name</p>
            <p> (sometimes called the "Heart's Desire Number" or "Inner Soul Number")</p>
        </li>
        <li>
            <p>The Personality number, derived from the consonants of a person's full name</p>
            <p>(also called the "Character Number" or "Expression Number" on some websites)</p>
        </li>
        <li>
            <p>The Life Path number, derived from a person's birthday</p>
            <p>(called the "Destiny Number" in some sources. Seriously, different websites are all over the place with these names)</p>
        </li>
    </ul>
    <p>If you happen to have a 'Y' in your name that acts as a vowel (names like "Mary" or "Tony"), you can place a "!" in front of it, and the app will treat it as a vowel. Actually, you can use it to swap any letter's vowel or consonant status. Go nuts if you want to.</p>
</section>